<header class="">
  <div class="container">
    <%= link_to "Makoto Ishii", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "News",    root_path %></li>
        <li><%= link_to "Works",   works_path %></li>
        <li><%= link_to "Cv",      cv_path %></li>
        <li><%= link_to "Contact",      contact_path %></li>
      </ul>
    </nav>
  </div>
</header>
